<section class="bg-main-light rounded-4 shadow p-4 my-2  w-75 mx-auto">
    <h2>My wish List</h2>
    @for (item of wishList ; track item._id) {
        <div class="row border-bottom mb-1 ">
            <div class="col-md-1">
              <div class="">
                <img [src]="item.imageCover" [alt]="item.title" class="w-100 img-fluid">
              </div>
            </div>
<div class="col-md-11  d-flex align-items-center justify-content-between">
<div class="">
    <h3 class="h5">{{item.title}}</h3>
    <h4 class="text-main">{{item.price|currency:'EGP'}}</h4>
    <button class="text-danger btn"(click)="removeItem(item._id)" > <i class="fa-regular fa-trash-can"></i><span> remove</span> </button>
</div>
<div class="">
    <button class="btn-main"(click)="addcard(item._id)">Add TO Cart</button>
</div>
</div>

            </div>
      
    }
</section>
